/* =======================
BASE ELEMENT STYLES
========================== */

* {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: 'Fugaz One', cursive;
  width: 100%;
	font-size: 1em;
	line-height: 1.5;
	color: #fff;
	background: #D40B0B;
	margin:0;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
	font-family: 'Belleza', sans-serif;;
}

h2,
h3,
a {
	color: #fff;
}

h2,
h3 {
	margin-top: 0;
	font-family: 'Fugaz One', cursive;
	letter-spacing: .1em;
}

a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
.clearfix {
	content: " ";
  display: table;
  clear: both;
}


/* =====================
BASE LAYOUT STYLES
========================*/

/*-----NAV-BAR --------*/

.header {
	width: 100%;
	padding-top: 0;
	background: #000;
	border-bottom: 5px solid #000;
	
}

.name {
	text-align: center;
	font-size: 2em;
	margin: 0;
	padding: 5px 0 10px 5px;
}
.main-nav {
	margin-top: 5px;
	overflow: hidden;
}
.main-nav li {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
}
.main-nav li {
	background: #000;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 14px 16px;
	text-transform: uppercase;
}
.main-nav a:hover {
	color:#333;
}
.blurb {
	font-weight: bold;
}
.set,
.blurb,
.contact  {
	text-align: center;
	padding: 15px 0;
}
.container {
	margin-top: 30px;
}
.profile-img {
	border-radius: 5%;
}




/*-- Gallery --*/


.gallery {
	text-align: center;
	max-width: 100%;
	background: #000;
	margin:0 auto;
	padding: 5px;
}
.gallery h2 {
	font-size: 2em;
	padding: 30px;
	margin: 20px 20px;
	text-decoration: underline;
	letter-spacing: .1em
}

.gallery li h3 {
	padding-top: 20px;

}
.gallery li p {
	padding-bottom: 15px;
}
.gallery li {
	width: 90%;
	margin: 5%;
	padding-top: 20px;
	overflow: hidden;
	
}

.gallery li:hover {
	background-color: #333;

}


/*-- Contact --*/

.contact {
	background: #333;
	width: 100%;
	margin: 0;
}

.phone1,
.email  {
	padding: 10px 0;
	
}
.email {
	border-bottom: 5px solid #fff;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
}

/*-- Footer --*/
.footer {
	margin: 0;
}

.sub-name {
	font-size: 1.25em;
	float: left;
	display: inline-block;
	margin: 20px 0 0 20px;
	padding-left: 20px;

}

 .top {
	font-size: .7em;
	float: right;
	display: inline-block;
	margin: 30px 20px 0 0;
	padding-right: 20px;
}

.sub-nav a,
.top {
	text-transform: uppercase;
}
.sub-nav a {
	font-size: .8em;
}
.sub-nav a:hover {
	color: #000;
}
.top a:hover {
	color: #000;
}
.sub-nav {
	display: none;
}

/* =====================
CONTACT PAGE
========================*/

.card {
	margin:0 auto;
	max-width:70%;
	background: #000;
	margin-top: 80px;
	margin-bottom: 80px;
	padding:30px;
}

.main,
.blurb2 {
	text-align: center;
}

#contact-info {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.contact-info a {
  display: block;
  color: #fff;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 40px;
  margin: 0 0 20px;
}
.contact-info li.phone a {
  background-image: url("../img/phonewhite.png");
  
}
.contact-info li.mail a {
  background-image: url("../img/mailwhite.png");
}
.contact-info li.twitter a {
  background-image: url("../img/twittericon-1.png");
}
.contact-info a:hover {
  color:#333;
}
.blurb2 {
	margin-left: 40px;
}



/* =====================
MEDIA QUERIES
========================*/


@media screen and ( min-width:768px ) {


	/*-- Nav-bar 768px --*/

	.name {
		font-size: 2em;
		margin-bottom: 5px;
	}
	.main-nav {
		text-align: center;

	}
	.main-nav li {
		font-size: .8em;
		background: #000;
		display: inline-block;
		margin: 0 auto;
	}
	.main-nav li a {
		font-weight: bold;
	}

	/*-- Sub-Header 768px --*/

	.sub-header {
		width: 90%;
		margin: 0 auto;
		background: #2BA4CC;
	}
	.col {
		float: right;

	}
	.set,
	.blurb {
		width: 50%;
	}
	
	
	.gallery {
		max-width: 90%;
		background: #000;
		margin: 40px auto;

}
	.gallery li {
		width: 45%;
		margin: 2.5%;
		padding-top: 4px;
		float:left;
}	
	.gallery li:nth-child(2n+1) {
		clear:left;
	}
  
	
  .sub-nav {
  	margin-right: 15px;
  	display: block;
  }
	.sub-nav li {
		float: right;
		display: inline-block;
		padding: 10px 15px;
	}

	.top {
		display: none;
	}

	.clearfix {
	content: " ";
  display: table;
  clear: both;
}
	
}

@media screen and (min-width: 1024px) {

	.header {
		position: fixed;
		z-index: 10;
	}
	.sub-header {
		margin-top: 50px;
	}




	.name {
		font-size: 1.8em;
		float: left;
		padding: 10px 0 0 20px;
		margin-left: 20px;
}

	.main-nav ul {
		margin: 0;
		padding: 0;
		overflow: hidden;
		float: right;
	
}
	
	.main-nav li {
		display: inline-block;

}
	.main-nav li a {
		font-size: 1.25em;
		text-align: center;
		padding: 10px 15px;
		text-decoration: none;
}
	.contanier {
		background: #2BA4CC;
}
	.blurb {
		font-size: 1.4em;
		font-weight: bold;
	}

	.gallery li {
		width: 28.333%;
		padding-top: 20px;
		float:left;
}	
	.gallery li:nth-child(2n+1) {
		clear: none;
	}

	.clearfix {
		content: " ";
	  display: table;
	  clear: both;
}

}



